/* global */
* {
  margin: 0;
  padding: 0;
  font-family: serif;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration-line: none;
}
/* layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3.55rem 1fr 3rem;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  grid-area: header;
  background-color: rgb(238, 90, 90);
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: rgb(238, 90, 90);
}

/* positioning */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.flex-row.space-between {
  justify-content: space-between;
}
.flex-row.space-evenly {
  justify-content: space-evenly;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.fixed {
  position: fixed;
  width: 100%;
}
/* header */
header a {
  color: rgb(104, 62, 8);
  text-decoration-line: none;
}
.brand {
  margin: 0 0 0 20px;
}
a.brand {
  color: rgb(104, 62, 8);
  font-size: 3rem;
}
.nav-bar ul {
  display: flex;
}
.nav-bar li {
  list-style-type: none;
  margin: 0 20px 0 20px;
  font-size: 20px;
}
.cart-icon {
  margin: 0 2.5rem 0 0;
  font-size: 20px;
}
.cart-number {
  color: rgb(104, 62, 8);
  margin: 0 0 0 20px;
  font-size: 20px;
}
/* main */
/* Globals */
.medium {
  width: 120px;
}
.title {
  border-bottom: 2px solid #eee;
  width: 100%;
}
/* Product HomeScreen */
.product-title {
  margin: 5px 0 5px 0;
}
.product-price {
  margin: 0 0 5px 0;
}
/* Cart */
.card {
  padding: 2rem 2rem 2rem 1rem;
}
.app-nav-bar {
  display: flex;
  margin: 5px 0 0 5px;
  font-weight: bold;
}
.nav-bar-margins {
  padding: 0 12px 0 12px;
  font-size: 18px;
  font-weight: bold;
}
.cart-empty {
  margin: 20px;
}
/* Cart Card */
.cart {
  padding: 10px 0px 10px 0px;
  width: 90%;
  border-bottom: 2px solid #eee;
  color: rgb(165, 108, 33);
  justify-content: center;
}
.card h2 {
  color: #0f1111;
  text-align: center;
}
.card h3 {
  color: #0f1111;
  text-align: center;
}
.cart-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 2px solid #eee;
}
.card-title {
  font-size: 1.5em;
  align-self: flex-start;
}
.card-brand {
  align-self: flex-start;
  font-size: 1.1em;
  padding-top: 0.5rem;
}
.card-weight {
  align-self: flex-start;
  font-size: 1.1em;
  padding-top: 0.5rem;
}
.card-info {
  font-size: 1.1em;
  padding: 0 3rem 0 3rem;
  margin: 0 0 4rem 0;
}
.card-price {
  font-size: 1.1em;
  align-self: center;
  padding-top: 0.5rem;
}
.buttons {
  padding: 0 3rem 0 3rem;
}
/* Summary */
.summary {
  padding: 1rem;
  border-left: 2px solid #eee;
}
.summary > p {
  margin-bottom: 10px;
}
/* Checkout */
.checkout-form {
  margin: 1rem 0 1rem 0;
  width: 60%;
}
.checkout-form > input {
  width: 100%;
  height: 22px;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 5px;
  font-size: 16px;
}
/* Buttons */
.addtocart {
  width: 60%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid rgb(238, 90, 90);
  background-color: rgb(238, 90, 90);
  color: rgb(90, 23, 23);
  font-size: 18px;
  font-weight: bold;
}
.addtocart:hover {
  background-color: rgb(255, 55, 55);
  transition: all 0.3s;
  cursor: pointer;
}
.addtocart:active {
  background-color: rgb(168, 90, 90);
  transition: all 0.1s;
}
.minus {
  width: 25px;
  height: 25px;
  margin: 0 4px 0 4px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(238, 90, 90);
  background-color: rgb(238, 90, 90);
  color: rgb(90, 23, 23);
  font-size: 18px;
  font-weight: bold;
}
.minus:hover {
  background-color: rgb(255, 55, 55);
  transition: all 0.3s;
  cursor: pointer;
}
.plus {
  width: 25px;
  height: 25px;
  margin: 0 4px 0 4px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(238, 90, 90);
  background-color: rgb(238, 90, 90);
  color: rgb(90, 23, 23);
  font-size: 18px;
  font-weight: bold;
}
.plus:hover {
  background-color: rgb(255, 55, 55);
  transition: all 0.3s;
  cursor: pointer;
}
.quantity {
  font-size: 22px;
}

.summary {
  font-size: 110%;
}
.checkout-submit {
  width: 75px;
  height: 30px;
  font-size: 16px;
  margin: 0 4px 0 4px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid rgb(238, 90, 90);
  background-color: rgb(238, 90, 90);
  color: rgb(90, 23, 23);
  font-size: 18px;
  font-weight: bold;
}
.checkout-submit:hover {
  background-color: rgb(255, 55, 55);
  transition: all 0.3s;
  cursor: pointer;
}
.summary-proceed {
  width: 170px;
  height: 45px;
  font-size: 16px;
  margin: 0 4px 0 4px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid rgb(238, 90, 90);
  background-color: rgb(238, 90, 90);
  color: rgb(90, 23, 23);
  font-size: 18px;
  font-weight: bold;
}
.summary-proceed:hover {
  background-color: rgb(255, 55, 55);
  transition: all 0.3s;
  cursor: pointer;
}
/* Cats Screen */
.subcategory {
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  color: rgb(165, 108, 33);
  border-bottom: 2px solid #eee;
  width: 65%;
}
